{% extends "base.html.twig" %}

{% block body %}
    
    <div class=" body container">
        <div class="zone-title-login">

            <div class="zone-title title">
                <div class="fodeo">Fodéo</div>
            </div>

            <div class="zone-logo">
                <img src="{{ asset('img/logo.png') }}">
            </div>

        </div>

        <div class="form-login">

            <h1 class="login-title">Se connecter</h1>

            <form action="{{ path('reset-password-post') }}" method="post">

                <div class="field-box">
                    <label for="newMdp">Nouveau mot de passe :</label>
                    <input type="password" id="newPassword" name="newMdp" value="" required />
                </div>

                <div class="field-box">
                    <label for="confirmNewMdp">Confirmez votre nouveau mot de passe :</label> 
                    <input type="password" id="confirmNewPassword" name="confirmNewMdp" value="" required />
                </div>

                <input type="hidden" name="token" value="{{ token }}"/>
                {% for message in app.flashes('danger') %}
                    <div class="message-error" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="message-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <button type"submit">Sauvegarder</button>

            </form>
        </div>
    </div>
{% endblock %}