{% extends 'base.html.twig' %}

{% block body %}
    <div class="message-confirm-supp" id="MessageSupp">
        <p>Êtes-vous sûr de vouloir supprimer ce film ? </p>
        <button id="AnnulSuppression" class="btn-annule-suppression">Annuler</button>
        <a class="lien-url-supp" href="">
            <button id="ConfirmerSuppression" class="btn-confirm-suppression">
                Supprimer
            </button>
        </a>
    </div>
    <div class="main-content-affiche" id="content_affiche_film">
        <div class="home-title-button">
            <h1>
                <a href="{{ path('home') }}">
                    <button class="history">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                </a>
                {{ donneesFilm.titre }}
            </h1>
            {% for message in app.flashes('success') %}
                <div class="message-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="message-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% if app.user is not empty %}
                {% if app.user.role == 'Administrateur' %}
                <div class="buttonMovie">
                    <button class="btn-edit-movie">Modifier</button>
                    <button class="btn-cancel-movie">Annuler</button>
                    <button class="btn-del" id="BtnDelMovie" urlSupp="{{ path('movieDelete') ~ '?id=' ~ donneesFilm.id|number_format }}">
                        <i class="fas fa-times"></i>
                        Supprimer
                    </button>
                </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="infos-content">
            <img class="img_affiche_film" src="{{ donneesFilm.affiche}}" alt="Affiche du film {{ donneesFilm.titre }}">

            <div class="donneesFilm">
                <div class="title-inline">
                    <h2 class="titre_affiche">{{donneesFilm.titre}}</h2> 
                    <a href="{{ path("pdf") ~ "?id=" ~ donneesFilm.id|number_format }}"><button class="btnPdf">Exporter en PDF</button></a><br>
                </div><br>
                <div class=" realisateur_affiche">Réalisateur(s) : {{ donneesFilm.realisateurs}}</div> <br>
                <div class="acteur_affiche">Acteur(s) : {{ donneesFilm.acteurs }}</div> <br>
                <div class="synopsis_affiche">Synopsis : {{ donneesFilm.synopsis}}</div> <br>
                <div class="block_bottom">
                    <div>
                        <div class="donnees_affiche">Genre : {{ donneesFilm.genre}}</div> <br>
                        <div class="donnees_affiche">Date de sortie : {{ donneesFilm.dateSortie|date('d/m/Y')}}</div> <br>
                        <div class="donnees_affiche">Note : {{ donneesFilm.note}}/5</div> <br>
                        <div class="donnees_affiche">Disponible sur : {{ donneesFilm.dispoPlateforme}}</div>
                    </div>
                    <div class="qrcode">
                        <div class="qrCode_size">
                            <p class="txt_qrcode">Visionnez la bande d'annonce :</p>
                            <img src="{{ qr_code_url(qrCodeUrl) }}" alt="lien qrCode du film {{ donneesFilm.titre }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="edit-infos-content">
            <div class="content-form-movie">
                <form action="{{ path('movieEdit') }}" method="POST" class="edit-movie form-movie">
                    <input type="hidden" name="idMovie" value=" {{ donneesFilm.id }}">
                    <div class="radio">
                        <label for="typeAdd">Type :</label>
                        <div class="radio-input">
                            <input class="radio-right" type="radio"name="update_type" value="Film" checked>
                            <p class="radio-right" for="Film">Film</p>
                            <input class="radio-right" type="radio" name="update_type" value="Série">
                            <p class="radio-right" for="Série">Série</p>
                        </div>
                    </div>
                    <div>
                        <label for="titleAdd">Titre :</label>
                        <input type="text" name="update_titre" value="{{ donneesFilm.titre }}" required>
                    </div>
                    <div>
                        <label for="lienAffiche">Lien de l'affiche :</label>
                        <input type="text" name="update_affiche" value="{{ donneesFilm.affiche }}" required>
                    </div>
                    <div>
                        <label for="genre">Genre :</label>
                        <select name="update_genre" required>
                            <option value="Fantastique" {{ donneesFilm.genre == "Fantastique" ? "selected" : ""}}>Fantastique</option>
                            <option value="Action" {{ donneesFilm.genre == "Action" ? "selected" : ""}}>Action</option>
                            <option value="Comédie" {{ donneesFilm.genre == "Comédie" ? "selected" : ""}}>Comédie</option> 
                            <option value="Horreur" {{ donneesFilm.genre == "Horreur" ? "selected" : ""}}>Horreur</option> 
                            <option value="Romance" {{ donneesFilm.genre == "Romance" ? "selected" : ""}}>Romance</option> 
                            <option value="Animé" {{ donneesFilm.genre == "Animé" ? "selected" : ""}}>Animé</option> 
                            <option value="Enfants" {{ donneesFilm.genre == "Enfants" ? "selected" : ""}}>Enfants</option> 
                        </select>
                    </div>
                    <div>
                        <label for="dateSortieAdd">Date de sortie :</label>
                        <input type="date" name="update_date" value="{{ donneesFilm.dateSortie }}">
                    </div>
                    <div>
                        <label for="synopsis">Synopsis :</label>
                        <textarea type="text" name="update_synopsis" value="{{ donneesFilm.synopsis }}"></textarea>
                    </div>
                    <div>
                        <label for="realisateurs">Réalisateurs :</label>
                        <input type="text" name="update_realisateurs" value="{{ donneesFilm.realisateurs }}" required>
                    </div>
                    <div>
                        <label for="acteurs">Acteurs :</label>
                        <input type="text" name="update_acteurs" value="{{ donneesFilm.acteurs }}" required>
                    </div>
                    <div class="note">
                        <label for="note">Note :</label>
                        <input type="number" name="update_note" step=".1", max="5" min="0" value="{{ donneesFilm.note }}">
                    </div>
                    <div>
                        <label for="lienPlateforme">Plateforme :</label>
                        <select name="update_plateforme" required>
                            <option value="Netflix" {{ donneesFilm.dispoPlateforme == "Netflix" ? "selected" : ""}}>Netflix</option>
                            <option value="Prime Vidéo" {{ donneesFilm.dispoPlateforme == "Prime Vidéo" ? "selected" : ""}}>Prime Vidéo</option>
                            <option value="Disney+" {{ donneesFilm.dispoPlateforme == "Disney+" ? "selected" : ""}}>Disney+</option> 
                            <option value="OCS" {{ donneesFilm.dispoPlateforme == "OCS" ? "selected" : ""}}>OCS</option> 
                            <option value="Salto" {{ donneesFilm.dispoPlateforme == "Salto" ? "selected" : ""}}>Salto</option> 
                            <option value="Canal+" {{ donneesFilm.dispoPlateforme == "Canal+" ? "selected" : ""}}>Canal+</option>
                        </select>
                    </div>
                    <div>
                        <label for="bande_annonce">Bande annonce :</label>
                        <input type="text" name="update_ba" value="{{ donneesFilm.bandeAnnonce }}">
                    </div>  
                    <div class="footer-form">
                        <button type="submit" class="btn-save-edit-movie" id="BtnEditMovie">
                            <i class="fas fa-save"></i>
                            Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
               
    </div>
{% endblock %}
